<ion-tabs>
  <ion-tab-bar slot="bottom" class="card-bottom-nav">
    <ion-tab-button tab="principal-deportista" routerLink="/deportista/home/principal-deportista" routerLinkActive="#fd9946">
      <ion-icon name="home-outline" size="large"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="rutina-deportista" routerLink="/deportista/home/rutina-deportista" routerLinkActive="#fd9946">
      <ion-icon name="notifications-outline" size="large"></ion-icon>
      Notificaciones
    </ion-tab-button>
    <ion-tab-button tab="dieta-deportista" routerLink="/deportista/home/dieta-deportista" routerLinkActive="#fd9946">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>      
      perfil
    </ion-tab-button>
    <ion-tab-button tab="deportista" routerLink="/deportista/home/deportista" routerLinkActive="#fd9946">
      <ion-icon name="exit-outline" size="large"></ion-icon>
      Salir
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
