<side-menu></side-menu>
<div class="ion-page" id="main-content">
  <dinamic-header></dinamic-header>

  
  <ion-content class="ion-padding">
    <h1>Sensores / Nodos</h1>  
    <ion-card class="nodo-card">
      <ion-card-header>
        <ion-card-title>Node 1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="9" >
          <ion-title>Nombre del nodo</ion-title>
          </ion-col>
          <ion-col size="3">
          <ion-button fill="outline">
              <ion-icon name="power-outline"></ion-icon>
          </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" >
            <ion-card class="mini-card">
              <ion-title>consumo</ion-title>
              <h2>100 W</h2>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card class="mini-card">
              <ion-title>Temperatura</ion-title>
              <h2>24 °C</h2>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="estado-row">
              <ion-icon name="checkmark-circle"></ion-icon>
              ESTADO: ACTIVO
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card-content>



      
      
      
    </ion-card>

  </ion-content>
  <bottom-nav/>
</div>
<!--
    <ion-card class="menu-card">
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <ion-title>WiFi</ion-title>
          </ion-col>
          <ion-col size="1">
            <ion-button fill="outline">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
-->
<!--
<div>
  <ion-router-outlet></ion-router-outlet>
  <bottom-nav/>
</div>
-->


   